<div class="app">
    <div class="navigation-bar-container">
        <app-navigation-bar></app-navigation-bar>
    </div>
    <div class="movie-card-container" cdkScrollable style="display: flex">
        <mat-card *ngFor="let movie of movies; let i=index" style="flex: 1 1 auto;">
            <mat-card-header style="margin: auto">
                <mat-card-title style="text-align: center">{{movie.Title}}</mat-card-title>
                <mat-card-subtitle style="text-align: center">Directed by: {{movie.Director.Name}}</mat-card-subtitle>
            </mat-card-header>
            <img style="width: 200px; height: auto; margin: auto;" src="{{movie.ImagePath}}" alt="{{movie.Title}}"/>
            <mat-card-actions>
                <button
                    mat-button
                    color="primary"
                    (click)="showGenreDetails(movie.Genre)"
                >
                Genre
                </button>
                <button
                    mat-button
                    color="primary"
                    (click)="showDirectorDetails(movie.Director)"
                >
                Director
                </button>
                <button
                    mat-button
                    color="primary"
                    (click)="showMovieDetails(movie)"
                >
                More Details
                </button>
                <button (click)="toggleFavorite(movie._id)" mat-button>
                    <mat-icon style="padding: 10px" >{{movie.icon}}</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>