.navigation-bar-container{
    z-index:1000;
    margin: auto;
    width: 200px
}

.movie-card-container{
    margin-top: 80px;
    overflow-x: auto;
    overflow-y: hidden;
}

.app {
    overflow-y: hidden
}