<app-navigation-bar></app-navigation-bar>

<h1>{{user.Username}}</h1>
<h2>{{user.Email}}</h2>
<h2>{{user.Birthday}}</h2>

<mat-card *ngFor="let movie of favorites; let i=index" style="margin: 10px; flex: 1 1 auto">
    <mat-card-header>
        <mat-card-title>{{movie.Title}}</mat-card-title>
        <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
    </mat-card-header>
    <img style="width: 150px; height: auto;" src="{{movie.ImagePath}}" alt="{{movie.Title}}"/>
    <mat-card-actions>
        <button
            mat-button
            color="primary"
        >
        Genre
        </button>
        <button
            mat-button
            color="primary"
        >
        Director
        </button>
        <button
            mat-button
            color="primary"
        >
        Synopsis
        </button>
        <mat-icon>favorite_border</mat-icon>
    </mat-card-actions>
</mat-card>