<mat-card cdkScrollable class="movie-details-card">
    <div class="scroll-container" cdkScrollable>
        <mat-card-header style="justify-content: center">
            <mat-card-title >{{data.Title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content style="text-align: center">
            <p>{{data.Genre.Name}}</p>
            <p>Directed by: {{data.Director.Name}}</p>
            <img class="movie-image" src="{{data.ImagePath}}" alt="The cover of {{data.Title}}">
            <p>{{data.Description}}</p>
        </mat-card-content>
    </div>
</mat-card>